@font-face {
    src: url(fonts/Dosis-VariableFont_wght.ttf);
    font-family: dosis;
}
* {
    margin:0;
    padding:0;
    text-decoration: none;
}

body {
    letter-spacing: 3px;
    font-family: dosis;
    background: #474448;
    color: #f1f0ea;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll; 
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.navbar{
    position:fixed;
    left:-120vw;
    width:100%;
    height: 100vh;
    background: black;
    transition: all 0.4s ease;
}    

section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    scroll-snap-align: center;
    transition: all 0.4s ease;
    overflow: hidden;
}

section h1 {
    font-size:4rem;
}

section p {
    font-size: 1.5rem;
}
@media only screen and (min-height:800px)
#check{
    z-index: 1000;
    position: absolute;
    left:23px;
    top: 23px;
    opacity: 0;
    height: 40px;
    width:40px;
    cursor: pointer;
    transition: all 0.4s ease;
}
#check:checked ~ section{
    margin-left: 100vw;
}
#check:checked ~ .navbar{
    left: 0;
}
@media only screen and (min-width:1000px) and (min-height:830px){
    a{
        font-size: 20px;
    }
    .navbar{
        width: 300px;
        top:0;
        left:-350px;
        visibility: initial;
    }
    #menu{
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        position: absolute;
        left:20px;
        top: 20px;
        height: 40px;
        width:40px;
        border: 3px solid black;
        background-color: black;
        transition:.7s;
        overflow: hidden;
    }
    #hamg{
        width: 70%;
        border: 2px solid #f1f0ea;
        z-index: 2;
        transition: 0.7s;
    }
    #hamg::before, #hamg::after{
        content: '';
        width: 70%;
        border: 2px solid #f1f0ea;
        z-index: 2;
        position: absolute;
        transition: 0.7s;
    }
    #hamg::before{
        top:8px;
        left:4px;
    }
    #hamg::after{
        bottom:8px;
        left:4px;
    }
    #check:checked ~ section{
        margin-left: 300px;
    }
    #check:checked ~ .navbar{
        left: 0;
    }
    #check:checked ~ #menu{
        opacity: 0;
    }
    #check:checked ~ #hamg{
        opacity: 0;
    }
    #check:checked ~ #hamg::before{
        opacity: 0;
    }
    #check:checked ~ #hamg::after{
        opacity: 0;
    }
    #check:checked ~ #close{
        opacity: 1;
    }
    #check:checked ~ #closer{
        opacity: 1;
    }
    #check:checked ~ #closer::before{
        opacity: 1;
    }
    #close{
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: absolute;
        left:20px;
        top: 20px;
        height: 40px;
        width:40px;
        border: 3px solid #223e3c;
        background-color: #223e3c;
        transition:all .7s ease;
        overflow: hidden;
        opacity: 0;
    }
    #closer{
        width: 70%;
        background-color: #f1f0ea;
        border: 2px solid #f1f0ea;
        z-index: 1;
        transform: rotate(45deg);
        transition:all .7s ease;
    }
    #closer::before{
        content: '';
        width: 100%;
        background-color: #f1f0ea;
        border: 2px solid #f1f0ea;
        z-index: 1;
        transform: rotate(90deg);
        position: absolute;
        left: -2px;
        bottom: -2px;
        transition:all .7s ease;
    }
    #specko{
        height: 70px;
    }
    .navbar ul{
        display: block;
        display: table;
        height: 100%;
        width:100%;
    }
    .navbar li{
        display: table-row;
        width: 100%;
        height: 100px;
        transition: .4s;
    }

    .navbar a{
        color: #f1f0ea;
        display: block;
        height: 100%;
        width: 100%;
        padding-top: 2.5vh;
        padding-left: 40px;
        transition: .4s;
        overflow-y: hidden;
    }
    .navbar a:hover{
        padding-left: 60px;
        color: #f1f0ea;
        background-color: #223e3c;
    }
    .navbar li:hover{
        width:120%;
    }
    #exception{
        display: table-row;
    }
    #exception *{
        padding: 0;
    }
    #exception a{
        height: 100%;
        position: relative;
        left: 0;
        bottom: 0;
    }
    #exception:hover{
        width:100%;
    }
    #exception a:hover{
        background-color: transparent;
    }
    #exception img{
        width: 100%;
    }
}
