@font-face {
    src: url(fonts/Dosis-VariableFont_wght.ttf);
    font-family: dosis;
}
* {
    margin:0;
    padding:0;
}

body {
    letter-spacing: 3px;
    font-family: dosis;
    background: #333;
    color: #fff;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    /*smooth schroll*/
    overflow-y: scroll; 
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar{
    position:fixed;
    top: 0;
    z-index:1;
    display:flex;
    width:100%;
    height: 60px;
    background: #474448;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li{
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover{
    color: white;
}

section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h1 {
    font-size:4rem;
}

section p {
    font-size: 1.5rem;
}

    section#home {
        background: url('') no-repeat center center/cover;;
        
    }

    section#clothing {
        background: url('') no-repeat center center/cover;;
        
    }

@media only screen and (min-width:700px){
    .navbar{
        position:fixed;
        left: 0;
        z-index:1;
        width:300px;
        height: 100%;
        background: rgba(0,0,0,0.7);
    }    

    .navbar ul{
        display: block;
        display: table;
        height: 100%;
        width:100%;
    }
    .navbar li{
        display: table-row;
        width: 100%;
        height: 100px;
        transition: .4s;
    }

    .navbar a{
        display: block;
        height: 100%;
        width: 100%;
        padding-top: 2.5vh;
        padding-left: 40px;
        transition: .4s;
        overflow-y: hidden;
    }
    .navbar a:hover{
        padding-left: 60px;
        color: white;
        background-color: #223e3c;
    }
    .navbar li:hover{
        width:120%;
    }

    #exception{
        display: table-row;
    }
    #exception *{
        padding: 0;
    }
    #exception a{
        height: 100%;
        position: relative;
        left: 0;
        bottom: 0;
    }
    #exception:hover{
        width:100%;
    }
    #exception a:hover{
        background-color: transparent;
    }
    #exception img{
        width: 100%;
    }
}
